<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>app</title>
    <link rel="stylesheet" href="/example/index.css">
  </head>
  <body ng-app="app">
    <div ng-controller="AppCtrl">
      <div ng-hide="evaData.ready">upload is not available</div>
      <div ng-show="evaData.ready">
        <form><input type="file" multiple="multiple" evaporate eva-model="evaData"></form>
        <ul>
          <li ng-repeat="file in uploadedFiles">
            <span>{{file.name}} uploaded, <a ng-href="{{file.url}}" target="_blank">open it</a> in new tab</span>
          </li>
          <li ng-repeat="file in evaData.files">
            <span>{{file.name}} is uploading</span>
            <div class="progress">
              <div class="progress-indicator" style="width: {{file.progress}}%;"></div>
              <div class="progress-value">
                <span>{{file.progress || 0}}%</span>
                <span ng-show="file.timeLeft">({{file.timeLeft}} seconds left)</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

    <!-- evaporate.js itself should be included before the angular-evaporate module -->
    <script src="/lib/evaporate.js"></script>

    <!--
      it's absolutely needed to add evaporate's config before including angular-evaporate module
      these options are passed directly into EvaporateJS itself
      for details look at: https://github.com/TTLabs/EvaporateJS
    -->
    <script>
      evaporateOptions = {
        signerUrl: '/signer',
        aws_key:   'AKIAI6HJQ7BXS3WOAP5A',
        bucket:    'motoroller',
        logging:   true
      };
    </script>

    <!-- angular-evaporate module -->
    <script src="/lib/angular-evaporate.js"></script>

    <!-- your app module -->
    <script src="/example/index.js"></script>
  </body>
</html>
